.form__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #0003;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    transition: 200ms ease transform;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  .user__card {
    width: 300px;
    background-color: #fff;
    padding: 1.5em;
    border-radius: .8em;
    margin: 1em;
    box-shadow: 0 0 10px #0000001a;
    order: 1;
    display: flex;
    flex-direction: column;
}

.user__card__span {
    left: 10%;

}

.user__card__h2 {
    justify-content: center;
    
}
.user__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.user__box {
    display: flex;
    flex-direction: row; /* Cambia a row en lugar de row-reverse */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }


  .form__close {
    transform: scale(0);
    
}

.user__search {
    display: flex;
    border-radius: 2%;
    padding: 1rem 4rem;
    gap: 1rem;
    font-size: 3rem;
    justify-content: left;
    float: left;
    left: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.user__header {
    display: flex;
    font-size: 2rem;
}

.user__search__btn {
    padding: 0.2rem;
    position: absolute;
    right: 4rem;
    top: 1.8rem;
    border-radius: 0.5rem;
    background-color: aliceblue;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
